* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --background: #111827;
  --text: #111827;
  --white: #fff;
  --focus-button: #2f99ce;
}

#app {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center ;
  min-height: 100vh;
}

.wrapper-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
}

.wrapper-checkbox label {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text);
}

.wrapper-checkbox input {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.wrapper-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.wrapper-buttons button {
  background-color: var(--background);
  width: 12rem;
  height: 3.5rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}

.wrapper-buttons button:focus-within{
  border: 2px solid var(--focus-button);
}

.wrapper-form {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.wrapper-form p {
  font-size: 0.8rem;
  color: var(--text);
  margin-bottom: 0.5rem;
}

.wrapper-form .input-form {
  border: 1px solid var(--background);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  opacity: 0;
  visibility: hidden;
}

.wrapper-form .button-generate-enem {
  background-color: var(--background);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
}

.wrapper-form .button-form {
  background-color: var(--background);
  border: none;
  border-radius: 4px;
  padding: 1rem 1rem;
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  margin-top: 0.5rem;
  opacity: 0;
  visibility: hidden;
}

.wrapper-form .button-form.isActive{
  opacity: 1;
  visibility: visible;
}

.result p{
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text);
  margin-bottom: 0.5rem;
}

.wrapper-form .input-form.isActive {
  opacity: 1;
  visibility: visible;
}

h3{
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text);
  margin-bottom: 0.5rem;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  color: var(--text);
  margin: 1.5rem 0;

  height: 4.5rem;
}

.wrapper-buttons button,
.wrapper-form .button-form,
.button-generate-enem {
  background-color: var(--background);
  width: 12rem;
  height: 3.5rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wrapper-buttons button:hover,
.wrapper-form .button-form:hover,
.button-generate-enem:hover {
  background-color: var(--background);
}

/************ Toggle *************/
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-label {
  margin: 1rem .25rem 0 .25rem;
  line-height: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2.125rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  top: 0.25rem;
  left: .25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--background);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625rem);
  -ms-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

@media(max-width: 768px) {
  html {
    font-size: 85.7%;
  }
  .wrapper-buttons {
    flex-direction: column;
  }

  .wrapper-buttons button {
    width: 100%;
  }
}


