* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#app {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center ;
  min-height: 100vh;
}

.wrapper-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.wrapper-checkbox label {
  cursor: pointer;
}

.wrapper-checkbox input {
  width: 1rem;
  height: 1rem;
}

.wrapper-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.wrapper-buttons button {
  background-color: #111827;
  width: 12rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.wrapper-form p {
  font-size: 0.8rem;
  color: #111827;
  margin-bottom: 0.5rem;
}

.wrapper-form .input-form {
  border: 1px solid #111827;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  opacity: 0;
  visibility: hidden;
}

.wrapper-form .button-generate-enem {
  background-color: #111827;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}

.button-form {
  background-color: #111827;
  border: none;
  border-radius: 4px;
  padding: 1rem 1rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin: 2rem 0;
}
.result p{
  font-size: 1.125rem;
  font-weight: bold;
  color: #111827;
  margin-bottom: 0.5rem;
}

.wrapper-form .input-form.isActive {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

